#bgimg{
    opacity: .6;
    position: absolute;
    width: 100%;
    height: auto;
}
body{
    overflow: hidden;
    position: relative;
}
#root{
    position: relative;
}
#title{
    color: rgb(39,126,227);
    font-size: 2.5em;
    padding-top: 1em;
    padding-bottom : 1em; 
    margin-left: 40%;
    justify-content: center;
    font-weight: bold;
    
}


#footer{
    margin-top: 10%;
    font-size: 2em;
    color: #0e2df6;
    
}

input{
    width: 20em;
    height: 2em;
    margin-left: 40%;
    margin-right: 2em;
    font-size: 1em;
}

button{
    background-color: #cf4dd6;
    font-size: 1em;
    padding: .5em;
    width: 20em;
    height: 4em;
    padding: 1em;
    margin-top: 1%;
    margin-bottom: 1em;
    margin-left: 40%;
    border-radius: 0.6em;
}

button:hover{
    background-color: #e382e8;

}

#backtohome{
    background-color: #cf4dd6;
    font-size: 1em;
    padding: 1em;
    width: 15em;
    height: 3em;
    padding: 1em;
    margin-top: 1%;
    margin-bottom: 1em;
    margin-left: 43%;
    border-radius: 0.6em;
}

#backtohome:hover{
    background-color: #e382e8;
}

